captum==0.4.1
dgl==0.8.2
matplotlib==3.5.0
mygene==3.2.2
numpy @ file:///tmp/build/80754af9/numpy_and_numpy_base_1634095647912/work
openpyxl==3.0.9
packaging==21.3
pandas==1.2.5
pandocfilters==1.5.0
scikit-learn @ file:///tmp/build/80754af9/scikit-learn_1635175459052/work
scipy @ file:///tmp/build/80754af9/scipy_1630606796110/work
seaborn==0.11.2
torch==1.8.0
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1632160078689/work
zipp==3.6.0
